# Default ignored files
/shelf/
/.idea
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Java/99. Private (OA)
.xml
.iml
/Java/97. AMZ High Freq\Fungible